body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #252525;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(243, 5, 5, 0.89);
}

h1 {
    color: #ff7300;
}

p {
    line-height: 1.6;
}
